<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="knf.animeflv"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAn" />
        <activity
            android:name=".newMain"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAn" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tutorial.TutorialActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WebDescarga"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smaato.soma.ExpandedBannerActivity" />
        <activity android:name="com.smaato.soma.interstitial.InterstitialActivity" />
        <activity android:name="com.smaato.soma.video.VASTAdActivity" />
        <activity
            android:name=".Favoritos"
            android:label="@string/app_name" />
        <activity
            android:name=".Chat"
            android:label="@string/app_name" />
        <activity
            android:name=".Directorio.Directorio"
            android:label="@string/app_name" />
        <activity
            android:name=".Descargas"
            android:label="@string/app_name" />
        <activity
            android:name=".WaitList.WaitActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Intronew"
            android:label="@string/app_name" />
        <activity
            android:name=".Move"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".BackDownload"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Retry"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Configuracion"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".info.Info"
            android:label="@string/app_name" />
        <activity
            android:name=".info.InfoNew"
            android:label="@string/app_name" />
        <activity
            android:name=".Emision.Section.EmisionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Emision.Section.newEmisionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Player"
            android:label="@string/app_name"
            android:theme="@style/player" />
        <activity
            android:name=".PlayerSimple"
            android:label="@string/app_name"
            android:theme="@style/player" />
        <activity
            android:name=".Utils.FastActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/Translucent"/>
        <activity
            android:name=".ServerReload.manualServerReload"
            android:label="@string/app_name"/>
        <activity
            android:name=".AdminControl.ControlActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".Utils.logs.LogViewer"
            android:excludeFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/log"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".info.InfoNewDeep"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ova/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/pelicula/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackDownloadDeep"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ver/"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm"
            android:exported="true">
            <intent-filter>
                <action android:name="knf.animeflv.START_ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ADS"
            android:label="@string/title_activity_ads" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name=".Widget.Provider"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
    </application>

</manifest>