<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="knf.animeflv"
    android:installLocation="auto"
    tools:ignore="InnerclassSeparator">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".Utils.CacheControl"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity
            android:name=".newMain"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAn"/>
        <activity
            android:name=".Utils.CacheControl"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="cache"
                    android:scheme="animeflv"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SplashNormal"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
                <data
                    android:host="open"
                    android:pathPrefix="/main"
                    android:scheme="http"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:pathPrefix="/jordyamc/Animeflv/master/app/app-release.apk"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="knf-animeflv"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.app.link"
                    android:scheme="https"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".SplashVariant"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_variant"
            android:targetActivity=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
                <data
                    android:host="open"
                    android:pathPrefix="/main"
                    android:scheme="http"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:pathPrefix="/jordyamc/Animeflv/master/app/app-release.apk"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="knf-animeflv"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.app.link"
                    android:scheme="https"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".SplashHamnster"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_hamnster"
            android:targetActivity=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
                <data
                    android:host="open"
                    android:pathPrefix="/main"
                    android:scheme="http"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:pathPrefix="/jordyamc/Animeflv/master/app/app-release.apk"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="knf-animeflv"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.app.link"
                    android:scheme="https"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".SplashText"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_text"
            android:targetActivity=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
                <data
                    android:host="open"
                    android:pathPrefix="/main"
                    android:scheme="http"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:pathPrefix="/jordyamc/Animeflv/master/app/app-release.apk"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="knf-animeflv"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.app.link"
                    android:scheme="https"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity-alias
            android:name=".SplashWeb"
            android:configChanges="orientation|screenSize|keyboard"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_web"
            android:targetActivity=".Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="github.com"
                    android:pathPrefix="/jordyamc/Animeflv/blob/master/app/app-release.apk?raw=true"
                    android:scheme="http"/>
                <data
                    android:host="open"
                    android:pathPrefix="/main"
                    android:scheme="http"/>
                <data
                    android:host="raw.githubusercontent.com"
                    android:pathPrefix="/jordyamc/Animeflv/master/app/app-release.apk"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="knf-animeflv"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.app.link"
                    android:scheme="https"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Tutorial.TutorialActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.smaato.soma.ExpandedBannerActivity"/>
        <activity android:name="com.smaato.soma.interstitial.InterstitialActivity"/>
        <activity android:name="com.smaato.soma.video.VASTAdActivity"/>
        <activity
            android:name=".Favorites.FavoriteMain"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Directorio.Directorio"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Intronew"
            android:label="@string/app_name"/>
        <activity
            android:name=".CustomSettingsIntro.CustomIntro"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".BackDownload"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name=".Configuracion"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".AutoEmision.AutoEmisionActivity"
            android:label="@string/app_name"
            android:exported="true"/>
        <activity
            android:name=".Player"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".PlayerSimple"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".Style.ThemeFragmentAdvanced"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.aflvtheme"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.aflvtheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerExo"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".PlayerExoSimple"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".Utils.FastActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/Translucent"/>
        <activity
            android:name=".ServerReload.manualServerReload"
            android:label="@string/app_name"/>
        <activity
            android:name=".Explorer.ExplorerRoot"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".history.HistoryActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Random.RandomActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Changelog.ChangelogActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".HallFame.HallActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".SDControl.SDManager"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".About.AboutActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".State.StateActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Cloudflare.DebugBypass"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".Utils.logs.LogViewer"
            android:excludeFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="application/log"
                    android:pathPattern=".*\\.log"
                    android:scheme="file"/>
                <data
                    android:host="*"
                    android:mimeType="application/log"
                    android:pathPattern=".*\\.log"
                    android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BackDownloadDeep"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ver/"
                    android:scheme="https"/>
                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ver/"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="knf.animeflv.START_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".info.InfoFragments"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="https"/>
                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="http"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ova/"
                    android:scheme="https"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/pelicula/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity.MigrationActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="knf.kuma.MIGRATE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-stz1g2qeh9nldga"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.zawadz88.activitychooser.MaterialActivityChooserActivity"
            android:theme="@style/MACTheme"/>
        <activity
            android:name=".Suggestions.SuggestionsActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/app_name"/>
        <activity
            android:name=".AdminControl.PushManager"
            android:configChanges="orientation|screenSize|keyboard"/>
        <activity android:name=".LoginActivity.LoginActivity"/>
        <activity android:name=".FavSync.SyncActivity"/>
        <activity android:name=".About.DonationActivity"/>

        <service
            android:name=".Tile.QuickSetting"
            android:icon="@drawable/app_icon_intro"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".DownloadService.DownloaderService"
            android:exported="false"
            android:label="@string/app_name"/>
        <service
            android:name=".Utils.UpdateService"
            android:exported="false"
            android:label="@string/app_name"/>

        <receiver
            android:name=".DownloadService.DownloadBroadCaster"
            android:enabled="true">
            <intent-filter>
                <action android:name="download.retry"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="knf.animeflv.RequestsBackground"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8971b3733a2fd699ebd101e18ce228d80baeab92"/>
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_cnrrfYDdPE4pGR1yV14rUlpnDAbUqNQj"/>
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_anDEj1EmHr0cJLWFL32ZldlpEDiVDUME"/>
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false"/>
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <receiver
            android:name=".Widget.WidgetProvider"
            android:label="Emision">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <service
            android:name=".Widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".Utils.UpgradeService"/>
    </application>

</manifest>